@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root {
    --main-bg-color: rgb(76, 34, 224);
  }
  
* {
  margin: 0;
  padding: 0;
}

.flex-all-center {
  background-color:var(--main-bg-color);
  color: white;
  height: 12vh;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}
header{
    background-color: var(--main-bg-color);
    
    border:red solid 3px;
}
nav ul li{
    list-style: none;
   padding:0 23px; 
}
nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
    
}
nav{
    display:flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
nav ul li a:hover{
    color:gold;
    
}
.search{
    display: flex;
    align-items: center;   
}
.search input{
    width: 500px;
    height: 23px;
    margin: 0 16px 0 56px;
    border-radius: 3px;
    padding: 0 7px;
    
}
.btn{
    padding: 5px 10px;
    cursor: pointer;
    background-color:var(--main-bg-color);
    color: white;
    border:2px solid white;
}
.btn:hover{
    background-color: rgba(232, 236, 241, 0.304);
}
.slider img{
    width: 1535px;
    height: 450px;
    overflow:hidden;
    
}

.slider{
    margin: 12px 0;
    
}
.card{
   background-color: bisque;
   margin: auto;
   max-width: 91vw;
}
.card-item{
    padding: 10px 0 0 0;
   width: 10vw;
   display: inline-flex;
   justify-content: center;
   flex-direction: column;
   margin: 0 19px;
}
.lines:hover{
     color: blueviolet;
     text-decoration: underline;
     cursor: pointer;
}
.my-2{
    margin: 26px 0;
}
.lines{
    text-align: center;

}
#t1:hover{
     color: black;
}

