@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
}
#body-header {
  height:65vh;
  background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  overflow: hidden;
}
#horizontal-list ul li {
  display: inline-block;
}
#horizontal-list ul li a {
  text-decoration: none;
  color: white;
  margin: 0 25px 25px 0;
  transition: color 0.5s;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
#horizontal-list {
  text-align: center;
}
#horizontal-list ul li a:hover {
  color: lightblue;
  border-bottom: 1px solid white;
}
.text-center{
  text-align: center;
  margin-top: 20vh;
}
#my-name {
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}
.social-icon ul li a i {
  text-decoration: none;
  color: white;
  margin: 0px 25px 25px 0;
  padding: 15px;
  margin-top: 15px;
  list-style: none;
  border-radius: 50%;
}
.social-icon{
  margin-top: 15px;
}
#body-header ul li {
  list-style: none;
}
.social-icon ul li a i:hover {
  box-shadow: 0px 0px 6px 4px white;
}

#about {
  height: auto;
  width: 100%;
  
}
.my-image {
  margin-top: -15vh;
  position: relative;
  height: 14rem;
  width: 14rem;
  margin: auto;
  margin-top: -15vh;
}
.my-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px black;
}
.my-image img:hover {
  box-shadow: 0px 0px 10px 1px rgba(55, 35, 35, 0.848);
}
#my-details {
  margin: 5vh 20vw 8vh 20vw;
}
section {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

section:nth-child(2n){
  background-color: #edecec;
  
} 
section:nth-child(2n+1){
  background-color: white;
}

/* now start skill section */

#skill{
  height: auto;
}
.section-heading{
  width: auto;
  padding: 20px 10px 10px;
  font-weight: 400;
 
}

.section-heading span{
  font-size: 45px;
  color: blue;
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
  margin: auto auto 11vh auto;
  
  
}
.skill-display{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  
}
#skills1{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill1{
  height:inherit;
  width:55%;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 1px 1px 5px 2px #989882;
  background-color:rgb(75, 75, 190);
  
}

.javaskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills2{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;

}
.skill2{
  height: inherit;
  width: 85%;
  border-radius: 20px 0px 0px 20px;
  background-color:rgb(255, 136, 0);
  box-shadow: 1px 1px 5px 2px #989882;
  
}

.htmlskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills3{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill3{
  height: inherit;
  width: 75%;
  border-radius: 20px 0px 0px 20px;
  background-color:rgb(178, 121, 232);
  box-shadow: 1px 1px 5px 2px #989882;
  
}

.cssskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills4{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill4{
  height: inherit;
  width: 75%;
  border-radius: 20px 0px 0px 20px;
  background-color:green;
  box-shadow: 1px 1px 5px 2px #989882;

}

.javascriptskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills5{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill5{
  height: inherit;
  width: 65%;
  border-radius: 20px 0px 0px 20px;
  background-color:rgb(120, 120, 238);
  box-shadow: 1px 1px 5px 2px #989882;
  
}

.nodejsskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color:white;
 padding: 2px 0 2px 15px;
   
}

#skills6{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill6{
  height: inherit;
  width: 80%;
  border-radius: 20px 0px 0px 20px;
  background-color:rgb(178, 121, 232);
  box-shadow: 1px 1px 5px 2px #989882;
  
}

.mogodbskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
  
}

/* Now portfolio section start */

#heading-portfolio{

  color: blue;
  font-size: 5vh;
  padding: 40px 10px 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.portfolio-container{
  box-sizing: border-box;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 0 50px;
     margin-bottom: 20px;
     justify-content: space-around;
      
}

.portfolio-image-container{
    max-width: 250px;
   overflow: hidden;
   margin: 20px;
   padding-left: 100px;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   
}

.portfolio-image-container img {
  width: 100%;
  height: 100%;

}
#portfolio{
  height: 87vh;
}

.portfolio-image-container img:hover {
  box-shadow: 0 0 20px #74ADC8;
}
.portfolio-details{
  transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}
.portfolio-image-container:hover {
  box-shadow: 0 0 20px #74ADC8;
  
}
.portfolio-image-container:hover .portfolio-details {
  background-color: #80808078;
  color: white;
}

/* Contact Form */




  #contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
    padding:5vh;
    font-weight: 700;
    font-size:x-large;
}

#contact h1,
#contact h1 span {
    color: white;
}


#contact-form {
  margin-left: 20%;
}

#contact-container {
  display: flex;
}

#my-details-container {
  width: 35%;
  margin-left: 6%;
}

#my-details-container h3 {
  color: white;
  font-weight: 550;
  font-size: 1.2rem;
}

#contact-form-container {
  width: 50%;
  margin-top: 10vh;
  margin-right: 5vw;
}

#my-details-container p {
  color: #d9dcdd;
  font-size: 0.9rem;
}

.my-details-info-container {
  margin-bottom: 20px;
  color: #d9dcdd;
  font-size: 1rem;
}

.my-details-info-container span {
  margin-left: 0.4rem;
}

.my-details-info-container i {
  color: white;
}

.my-details-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}


#contact-form input,
textarea {
  max-width: 90%;
  margin: 15px;
  padding: 4px 10px;
  border: 0px solid transparent;
  border-bottom: 2px solid white;
  color: #d9dcdd;
  background: transparent;
  width: 90%;
  line-height: 1.6;
  font-size: 1.05rem;
}

#contact-form button[type="submit"]{
  background: transparent;
  font-size: 0.95rem;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
}

#contact-form button:hover {
  background: white;
  color: #13386fe0;
}

#contact .social-icons li a i {
  font-size: 1.2rem;
  margin: 40px 10px 10px;
  padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#section-heading-t1{
  margin-top: 10vh;
  padding-bottom: 10px;
  
}
#t2{
  margin-top: 5vh;
}

#heading-of-experience{
  font-size: 40px;
  color: blue;
  padding-top: 15px;
  margin-bottom: 10vh;
}


.experience-list{
  height: 25%;
  width: 30%;
}

.experience-list:nth-child(2n){
  margin-right: 40vw;
  
}
.experience-list:nth-child(2n+1){
  margin-left: 40vw;
}
#experience{
  height: 100vh;
}
#education{
  height: 130vh;
}
.experience-list h3,h4,h5{
     text-align: right;
    margin: 5px;
    font-size: larger;
}
.experience-list h3{
  color: blue;
}
.experience-list h4{
  color: orange;
}

#timeline-of-experience{
  height: 60vh;
  width: 0;
  border:2px dotted rgb(84, 181, 213);
  position: absolute;
  margin-top: 25vh;
}
#planeimg{
  transform: rotate(180deg);
  font-size:xx-large;
  position: sticky;
  top:25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 #sscimg::before{
  content: '';
  display: inline-block;
  height: 67px;
  width: 67px;
  background-size: contain;
  background-image: url(hsc.jpg);
  border-radius: 50%;
  position:absolute;
  right: 40vw;
}
#hscimg::before{
  content: '';
  display: inline-block;
  height: 67px;
  width: 67px;
  background-size: contain;
  background-image: url(hsc.jpg);
  border-radius: 50%;
  position:absolute;
  right: 80vw;
}
#sppuimg::before{
  content: '';
  display: inline-block;
  height: 65px;
  width: 65px;
  background-size: contain;
  background-image: url(sppuimg.webp);
  border-radius: 50%;
  background-repeat: no-repeat;
  position:absolute;
  right: 41vw;
}
#dishtvimg::before{
  content: '';
  display: inline-block;
  height: 80px;
  width: 100px;
  background-size: contain;
  background-image: url(distvimg.png);
  display: flex;
  position: absolute;
  right: 78vw;
  background-repeat: no-repeat;
  
}

#timeline-of-education{
  height: 83vh;
  width: 0;
  border:2px dotted rgb(84, 181, 213);
  position: absolute;
  margin-top: 25vh;
}

#bikeimg{
  rotate: 90deg;
  font-size:xx-large;
  position: sticky;
  top:25vh;
  right: 5px;
}

@media only screen and (max-width:1270px) {
  #portfolio{

      height: auto;
  }
  #Skill{
    height: auto;
  }
}
@media only screen and (max-width:666px) {
 #Skill{
  height: auto;
 }

}

@media only  screen  and (max-width:640px) {
#education{
  height: auto;
}
#experience{
  height: auto;
}
}

@media only  screen  and (max-width:560px) {
      #timeline-of-experience{
        left: 5%;
      }
      #timeline-of-education{
        left: 5%;
      }
       
      .experience-list{
        height: 80%;
        width: 80%;
      }
      .experience-list:nth-child(2n){
        margin-left: 35vw;
        margin-bottom: 10vh;
      }
      .experience-list:nth-child(2n+1){
        margin-right: 35vw;
        margin-bottom: 10vh;
      }
}
