@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
}
#body-header {
  height: 65vh;
  background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  overflow: hidden;
}
#horizontal-list ul li {
  display: inline-block;
}
#horizontal-list ul li a {
  text-decoration: none;
  color: white;
  margin: 0 25px 25px 0;
  transition: color 0.5s;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
#horizontal-list {
  text-align: center;
}
#horizontal-list ul li a:hover {
  color: lightblue;
  border-bottom: 1px solid white;
}
.text-center{
  text-align: center;
  margin-top: 20vh;
}
#my-name {
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}
.social-icon ul li a i {
  text-decoration: none;
  color: white;
  margin: 0px 25px 25px 0;
  padding: 15px;
  margin-top: 15px;
  list-style: none;
  border-radius: 50%;
}
.social-icon{
  margin-top: 15px;
}
#body-header ul li {
  list-style: none;
}
.social-icon ul li a i:hover {
  box-shadow: 0px 0px 6px 4px white;
}

#about {
  height: auto;
  width: 100%;
  
}
.my-image {
  margin-top: -15vh;
  position: relative;
  height: 14rem;
  width: 14rem;
  margin: auto;
  margin-top: -15vh;
}
.my-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px black;
}
.my-image img:hover {
  box-shadow: 0px 0px 10px 1px rgba(55, 35, 35, 0.848);
}
#my-details {
  margin: 5vh 20vw 8vh 20vw;
}
section {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

section:nth-child(2n){
  background-color: #edecec;
  
} 
section:nth-child(2n+1){
  background-color: white;
}
#skill{
  height: auto;
}
.section-heading{
  width: auto;
  padding: 20px 10px 10px;
  font-weight: 400;
  
  
  
  
}

.section-heading span{
  font-size: 45px;
  color: blue;
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
  margin: auto auto 11vh auto;
  
  
}
.skill-display{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  
}
#skills1{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill1{
  height:inherit;
  width:55%;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 1px 1px 5px 2px #989882;
  background-color:rgb(75, 75, 190);
  
}

.javaskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills2{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;

}
.skill2{
  height: inherit;
  width: 85%;
  border-radius: 20px 0px 0px 20px;
  background-color:rgb(255, 136, 0);
  box-shadow: 1px 1px 5px 2px #989882;
  
}

.htmlskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills3{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill3{
  height: inherit;
  width: 75%;
  border-radius: 20px 0px 0px 20px;
  background-color:rgb(178, 121, 232);
  box-shadow: 1px 1px 5px 2px #989882;
  
}

.cssskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills4{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill4{
  height: inherit;
  width: 75%;
  border-radius: 20px 0px 0px 20px;
  background-color:green;
  box-shadow: 1px 1px 5px 2px #989882;

}

.javascriptskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills5{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill5{
  height: inherit;
  width: 65%;
  border-radius: 20px 0px 0px 20px;
  background-color:rgb(120, 120, 238);
  box-shadow: 1px 1px 5px 2px #989882;
  
}

.nodejsskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
   
}

#skills6{
  height: 2.5rem;
  width: 12rem;
  border: solid;
  border-radius: 20px 20px 20px 20px;
  margin: 25px;
  overflow: hidden;
  
}
.skill6{
  height: inherit;
  width: 80%;
  border-radius: 20px 0px 0px 20px;
  background-color:rgb(178, 121, 232);
  box-shadow: 1px 1px 5px 2px #989882;
  
}


.mogodbskill{
  height: 2.5rem;
  width: 12rem;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
 color: white;
 padding: 2px 0 2px 15px;
 
   
}
